Description=Display the time on flip digit if someone is in front of the clock
After=network.target

[Service]
ExecStart=/usr/bin/python3 /home/pi/TelegramTypeBot.py
WorkingDirectory=/home/pi
StandardOutput=inherit
StandardError=inherit
Restart=always
User=pi

[Unit]
StartLimitIntervalSec=20
StartLimitBurst=20

[Install]
WantedBy=multi-user.target

